<div class="container">
  <% @posts.each do |f| %>
    <div class="card my-3">
      <div class="row no-gutters">

        <div class="col-md-2">
          <%= image_tag f.user.get_profile_image(100,100) %>
            <h6 class="card-title"><%= link_to f.user.name, user_path(f.user.id) %></h6>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title"><%= f.title %></h5>
              <p class="ml-2 text-muted"><%= " (#{time_ago_in_words(f.created_at)} ago)" %></p>
              <p class="ml-2 text-muted">
                <i class="fas fa-eye"></i>
                <%= f.view_counts.count %>
              </p>
            </div>
            <p class="card-text"><%= f.description.truncate(50) %></p>
            <% f.genres.each do |genre| %>
              <%= link_to genre.name, genre_path(genre.id), class: "badge badge-info" %>
            <% end %>
          </div>
        </div>

        <div class="col-md-2 card-footer">
          <div class="text-center">
            <%= link_to "Show URL", post_path(f.id), class: "btn btn-primary" %>
          </div>
          <div class="text-center mt-2 <%= "good-btn-" + f.id.to_s %>" >
            <%= render 'public/post_goods/good', post: f %>
          </div>
          <div class="text-center <%= "bad-btn-" + f.id.to_s %>" >
            <%= render 'public/post_bads/bad', post: f %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>