<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>

    <div class="col-md-8">
      <%= render 'layouts/errors', obj: @post_new %>
      <h2>Post</h2>
      <%= javascript_pack_tag 'posts/new' %>
      <%= form_with model: @post_new, url: posts_path, local: true, method: :post do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: "form-control", placeholder: "title" %>
        </div>
        <div class="form-group">
          <%= f.url_field :content_url, class: "form-control", placeholder: "url" %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "description" %>
        </div>
        <div class="form-group">
         <%= f.select :genre_ids, options_from_collection_for_select(Genre.all, :id, :name), {}, {class: 'form-control select', multiple: true} %>
        </div>
        <div class="form-group">
          <%= f.submit "Post", class: "btn btn-outline-primary form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>