<div class="text-center mb-4 my-3">
  <%= image_tag 'sample-author1.jpg', size: '100x100' %>
  <h2 class="h3 mb-3 font-weight-normal">Admin Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-label-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field my-3">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>