<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar', genre_list: @genre_list %>
    <div class="col-md-10 mx-auto">
      <div class="row-md-10 pb-3">
        <h2>Genres</h2>
      </div>

      <div class="form-row align-items-center">
        <%= form_with model: @genre_new, url: genres_path, local: true, method: :post do |f| %>
          <div class="col-auto my-1">
            <%= f.text_field :name, class: "form-control mb-2", placeholder: "Genre name" %>
          </div>
          <div class="col-auto my-1">
            <%= f.submit "Submit", class: "btn btn-primary mb-2" %>
          </div>
        <% end %>
      </div>

      <div class="row-md-10 pb-3">
        <h3>Genres Index</h3>
      </div>

      <div class="row-md-10 pb-3">
        <% @genres.each do |genre| %>
          <% if genre.genre_likes_by?(current_user) %>
            <%= link_to genre.name, genre_path(genre.id), class: "badge badge-info" %>
              <%= link_to genre_genre_likes_path(genre), method: :delete do %>
                ♥<%= genre.genre_likes.count %>
              <% end %>
          <% else %>
            <%= link_to genre.name, genre_path(genre.id), class: "badge badge-info" %>
              <%= link_to genre_genre_likes_path(genre), method: :post do %>
                ♡<%= genre.genre_likes.count %>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>