<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="col-md-8">
      <div class="d-flex flex-row bd-highlight my-3 border-bottom">
        <h4><i class="fas fa-tag mr-1 ml-3"></i><%= @genre.name %></h4>
        <% if @genre.genre_likes_by?(current_user) %>
          <%= link_to genre_genre_likes_path(@genre), method: :delete do %>
            <i class="fas fa-minus-circle mx-2 mt-2"></i>
          <% end %>
        <% else %>
          <%= link_to genre_genre_likes_path(@genre), method: :post do %>
            <i class="fas fa-plus-circle mx-2 mt-2"></i>
          <% end %>
        <% end %>
        <p class="ml-3 mt-1"><%= @posts.count%>Stories</p>
      </div>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>