<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
      <h1 class="display-4"><%= @user.name %></h1>
      <p class="lead"><%= @user.biography %></p>
      <% if @user == current_user %>
      <p><%= link_to "Edit", edit_user_path(current_user), class: "btn btn-lg btn-primary" %></p>
      <% end %>
    </div>
  </div>
</div>