<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <%= link_to "Article Aggregator", root_path, class: "blog-header-logo text-dark" %>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Home
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Popular", posts_path(sort_good: "true"), class: "p-2 text-dark" %>
        <%= link_to "New", posts_path , class: "p-2 text-dark" %>
      </div>
      <%= link_to user_path(current_user) , class: "p-2 text-dark" do %>
        <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle" %>
      <% end %>
    <% end %>
  </nav>
</div>
