<nav class="navbar navbar-expand-lg navbar-light bg-white p-3">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <%= link_to "Article Aggregator", root_path, class: "blog-header-logo text-dark" %>
  </h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle p-2 text-dark" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Popular", posts_path(sort_good: "true"), class: "dropdown-item" %>
          <%= link_to "New", posts_path , class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <div class="form-inline mt-2 mt-md-0 mr-3">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :content, class: "form-control mr-sm-2" %>
        <%= f.select :model, options_for_select({"User" => "user", "Post" => "post" }),{},{class: 'custom-select my-1 mr-sm-2'} %>
        <%= f.submit "Search", class: "btn btn-outline-success" %>
      <% end %>
    </div>
    <%= link_to user_path(current_user) , class: "p-2 text-dark" do %>
      <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle" %>
    <% end %>
  <% else %>
    <%= link_to "Admin", admin_session_path, class: "p-2 text-dark" %>
  <% end %>
  </div>
</nav>
